<!DOCTYPE html>
<html ng-app="score">
<head>
  <title>darts scoreboard</title>
  <script src="./angular.js"></script>
  <script src="./app.js"></script>
</head>
<style>
  .winner {
    color: red;
    font-weight: bold;
  }
</style>
<body ng-controller="scoreController">
<input tabindex=-1 type="button" ng-click="add_user()" value="Add">
<input tabindex=-1 type="button" ng-click="reset_game()" value="Reset">

<table>
  <tr>
    <td ng-click="sent_name_editable(this)" ng-repeat="user in users">{{user.name}}</td>
  </tr>

  <tr>
    <td ng-class="{winner: user.score <= 0}" ng-repeat="user in users">{{user.score}}</td>
  </tr>

  <tr>
    <td ng-repeat="user in users" ng-controller="addScoreController">
      <form ng-submit="add_score(user)">
        <input tabindex="{{$index + 1}}" ng-model="score" type="text">
        <input tabindex=-1 type="button" ng-click="add_score(user)">
      </form>
    </td>
  </tr>

</table>
</body>
</html>